<!--通讯路 模板-->
<!--<link rel="stylesheet" type="text/css" href="assets/css/book.css"/>-->
<div class="book_box">
	<!--列表-->
	 <div class="book_list_box">
	 	<!--头像-->
	 	 <div class="book_head_content clearfloat">
	 	 	<div class="book_list_head floatLeft">董</div>
	 	    <div class="book_list_name floatLeft">董事长</div>	
	 	    <div class="iconfont icon-jiantou floatRight"></div>
	 	 </div>
	 	 <!---->
	 	 <ul class="book_ul_box book_ul_slide">
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h1.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h2.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h3.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 </ul>
	 </div>
	 
	 <!--列表-->
	 <div class="book_list_box">
	 	<!--头像-->
	 	 <div class="book_head_content clearfloat">
	 	 	<div class="book_list_head floatLeft">董</div>
	 	    <div class="book_list_name floatLeft">董事长</div>	
	 	    <div class="iconfont icon-jiantou floatRight"></div>
	 	 </div>
	 	 <!---->
	 	 <ul class="book_ul_box book_ul_slide">
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h4.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h2.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h3.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 </ul>
	 </div>
	 <!--列表-->
	 <div class="book_list_box">
	 	<!--头像-->
	 	 <div class="book_head_content clearfloat">
	 	 	<div class="book_list_head floatLeft">董</div>
	 	    <div class="book_list_name floatLeft">董事长</div>	
	 	    <div class="iconfont icon-jiantou floatRight"></div>
	 	 </div>
	 	 <!---->
	 	 <ul class="book_ul_box book_ul_slide">
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h1.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h2.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h4.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
	 	 	</a>
	 	 </ul>
	 </div>
	 <!--常用联系人-->
	 <div class="common_box">
		 <div class="common_title">常用联系人</div>
		 <ul class="book_ul_box book_common">
		 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h3.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
		 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h2.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
		 	</a>
	 	 	<a href="views/personal-page.html"  class="link">
		 	 	<li class="book_li_box clearfloat">
			 	 	<div class="book_list_head floatLeft">
			 	 		<img src="assets/images/book/h1.png" alt="" />
			 	 	</div>
			 	    <div class="book_list_name floatLeft">董事长</div>	
			 	    <div class="book_section floatLeft">7个经办</div>
			 	    <div class="book_online floatRight">在线</div>
		 	 	</li>
		 	</a>
	 	 </ul>
 	 </div>
</div>
