<!--<link rel="stylesheet" type="text/css" href="assets/css/home.css"/>-->
<div class="home_body">
	<!--广告banner-->
	<div class="banner_box div_box">
		<img src="assets/images/home/OAbanner.png"/>
	</div>
	<!--内外勤管理-->
	<div class="div_box">
		<!--title-->
		<div class="title_box">
			<span>内外勤管理</span>
		</div>
		<div class="manage_box">
			<div class="flex_list">
				<div class="_content qianD" data-link = "views/signin.html">
					<div class="iconfont icon-qiandao1"></div>	
				</div>
				<div class="sub">签到</div>
			</div>
			<div class="flex_list">
				<div class="_content waiC" data-link = "views/go.html">
					<div class="iconfont icon-lvxingwaichu"></div>
				</div>
				<div class="sub">外出</div>
			</div>
			<div class="flex_list">
				<div class="_content QingJ" data-link = "views/vacate.html">
					<div class="iconfont icon-qingjia"></div>
				</div>
				<div class="sub">请假</div>
			</div>
			<div class="flex_list">
				<div class="_content LiZ" data-link = "views/dimission.html">
					<div class="iconfont icon-yuangonglizhi"></div>
				</div>
				<div class="sub">离职</div>
			</div>
		</div>
	</div>
	<!--业务汇报-->
	<div class="div_box">
		<div class="title_box">
			<span>业务汇报</span>
		</div>
		<div class="business_box">
			<div class="flex_list">
				<div class="_content TongJ" data-link = "views/statistics.html">
					<div class="iconfont icon-tongji"></div>
				</div>
				<div class="sub">债事统计</div>
			</div>
			<div class="flex_list">
				<div class="_content FanK" data-link = "views/feed-back.html">
					<div class="iconfont icon-fankui"></div>
				</div>
				<div class="sub">客户反馈</div>
			</div>
			<div class="flex_list">
				<div class="_content ZiL" data-link = "views/information.html">
					<div class="iconfont icon-gerenziliao"></div>
				</div>
				<div class="sub">债事资料</div>
			</div>
			<div class="flex_list">
				<div class="_content GuanL" data-link = "views/my-client.html">
					<div class="iconfont icon-kehuguanli"></div>
				</div>
				<div class="sub">客户管理</div>
			</div>
		</div>
		<div class="business_box">
			<div class="flex_list">
				<div class="_content RenW" data-link = "views/work-plan.html">
					<div class="iconfont icon-renwu"></div>
				</div>
				<div class="sub">我的任务</div>
			</div>
			<div class="flex_list">
				<div class="_content RiZhi" data-link = "views/journal.html">
					<div class="iconfont icon-rizhi">
						<!--提示-->
				        <div class="hint show"></div>
					</div>
				</div>
				<div class="sub">工作日志</div>
			</div>
			<div class="flex_list">
				<div class="_content GongGao" data-link = "views/notice.html">
					<div class="iconfont icon-tongzhi"></div>
				</div>
				<div class="sub">公告</div>
			</div>
			<div class="flex_list opacity">
				<div class="_content opacity">
					<div class="iconfont"></div>
				</div>
				<div class="sub opacity"></div>
			</div>
		</div>
	</div>	
</div>

