<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>债事档案</title>
    <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/information.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar mui-bar-nav linear ">
		<div class="information_header">
			<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
			<h1 class="mui-title">债事档案</h1>
		</div>
		<div class="information_bar_box linear">
			<div class="information_bar_list clearfloat">
				<div class="information_left_bar tab_btn floatLeft">
					进行中
				</div>
				<div class="information_right_bar tab_btn floatRight">
					已完成
				</div>
				<div class="information_bar_bottom"></div>
			</div>
		</div>
	</header>
	<!--我的列表-->
    <ul class="information_ul_box my_information_box ">
    	<a class="information_li_box " href="../views/personal-data.html">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server matter floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债权人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--受理中-->
    			<span class="information_case floatRight">受理中</span>
    		</div>
    	</a>
    	
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server creditor floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--受理中-->
    			<span class="information_case floatRight">受理中</span>
    		</div>
    	</a>
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server creditor floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--受理中-->
    			<span class="information_case floatRight">受理中</span>
    		</div>
    	</a>
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server creditor floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--受理中-->
    			<span class="information_case floatRight">受理中</span>
    		</div>
    	</a>
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server creditor floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--受理中-->
    			<span class="information_case floatRight">受理中</span>
    		</div>
    	</a>
    </ul>
    
    <!--共享给我的列表-->
    <ul class="information_ul_box share_information_box">
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server creditor floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--已完成-->
    			<span class="information_case floatRight">已完成</span>
    		</div>
    	</a>
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server matter floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--已完成-->
    			<span class="information_case floatRight">已完成</span>
    		</div>
    	</a>
    	<a class="information_li_box ">
    		<!--债事人-->
    		<div class="information_li_ren clearfloat">
    			<div class="information_li_ren_name floatLeft">
    				<span class="information_name">安琪</span>
    				<span class="information_type">(债事人)</span>
    			</div>
    			<div class="information_li_ren_sum floatLeft">
    				<span>20万元</span>
    				<div class="iconfont icon-zhixiang"></div>
    			</div>
    			<div class="information_li_server matter floatLeft">
    				<span class="information_name">李思</span>
    				<span class="information_type">(债务人)</span>
    			</div>
    		</div>
    		<!--时间-->
    		<div class="information_time iconfont icon-shijian">
    			<span class=""> 2018-01-12</span>
    			<span>11:30</span>
    		</div>
    		<!--地址-->
    		<div class="information_address  clearfloat">
    			<span class="information_address_content iconfont icon-dizhi floatLeft"> 金水区黄河路22号</span>
    			<!--已完成-->
    			<span class="information_case floatRight">已完成</span>
    		</div>
    	</a>
    </ul>
    
	
</body>

    <!--<script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>-->
     <script type="text/javascript" src="../lib/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../assets/js/public.js" ></script>
	<script type="text/javascript" src="../assets/js/information.js"></script>
	
</html>
