<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>工作日志</title>
    <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/journal.css"/>
</head>
<body>
	<!--头部-->
	<div class="mui-bar mui-bar-nav linear ">
		<header class="header">
			<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
			<h1 class="mui-title">工作日志</h1>
		</header>
		<!--时间tab-->
		<div class="time_box linear">
			<!--日期-->
			<div class="journal_date_title"></div>
			<div class="journal_date_list"></div>
		</div>
		<!--tab-->
		<div class="journal_bar_box linear">
			<div class="journal_bar_list clearfloat">
				<div class="journal_left_bar tab_btn floatLeft">
					我的日志
				</div>
				<div class="journal_right_bar tab_btn floatRight">
					共享给我的
				</div>
				<div class="journal_bar_bottom"></div>
			</div>
		</div>
	</div>
	<!--我的日志-->

	<div class="my_journal_box">
	<ul class="clearfloat">
		<li class="clearfloat">
			<div class="floatLeft">项目</div>
			<div class="floatRight">王女士</div>
		</li>
			<li class="clearfloat">
			<div class="floatLeft">备案</div>
			<div class="floatRight">债权位<span>2</span>位</div>
		</li>
			<li class="clearfloat">
			<div class="floatLeft">借债</div>
			<div class="floatRight">完成<span>2</span>个，启动<span>4</span>个</div>
		</li>
			<li class="clearfloat">
			<div class="floatLeft">更新资料</div>
			<div class="floatRight"><span>5</span>人次</div>
		</li>
			<li class="clearfloat">
			<div class="floatLeft">更新资料</div>
			<div class="floatRight"><span>5</span>人次</div>
		</li>
		<li class="remark_box">
		<div class="floatLeft">备注</div>
	   <div class="floatRight width_right">房间卡的概率狂热案件格特拉克是加大了对就离开飞得更高法国人尽快给人家饿哦</div>
		</li>
	</ul>
	<div class="btn">提交</div>
</div>
	</div>
	
	<!--共享给我的-->
	<ul class="journal_ul_box">
		<li class="journal_li_box">
			<!---->
			<div class="journal_li_title clearfloat">
				<div class="journal_li_type floatLeft">利息收入</div>
				<div class="journal_li_time floatRight">2018-01-21</div>
			</div>
			<!--content-->
			<div class="journal_li_content">
				商业银行向企业单位以及个人贷出各类放款，按照规定利率收取的利息及办理贴现业务的贴现利息收入
			</div>
			<!--完成度-->
			<div class="journal_li_degree clearfloat">
				<div class="journal_li_hint unfinished floatRight">未完成</div>
			</div>
		</li>
		<li class="journal_li_box">
			<!---->
			<div class="journal_li_title clearfloat">
				<div class="journal_li_type floatLeft">租赁收入</div>
				<div class="journal_li_time floatRight">2018-01-21</div>
			</div>
			<!--content-->
			<div class="journal_li_content">
				商业银行向企业单位以及个人贷出各类放款，按照规定利率收取的利息及办理贴现业务的贴现利息收入
			</div>
			<!--完成度-->
			<div class="journal_li_degree clearfloat">
				<div class="journal_li_hint finish floatRight">已完成</div>
			</div>
		</li>
		<li class="journal_li_box">
			<!---->
			<div class="journal_li_title clearfloat">
				<div class="journal_li_type floatLeft">咨询收入</div>
				<div class="journal_li_time floatRight">2018-01-21</div>
			</div>
			<!--content-->
			<div class="journal_li_content">
				由于社会主义市场经济的发展，银行内部经营机制的变化，信息作为。无形的财富，在经济活动中起着
			</div>
			<!--完成度-->
			<div class="journal_li_degree clearfloat">
				<div class="journal_li_hint not_matter floatRight">不紧要</div>
			</div>
		</li>
		<li class="journal_li_box">
			<!---->
			<div class="journal_li_title clearfloat">
				<div class="journal_li_type floatLeft">租赁收入</div>
				<div class="journal_li_time floatRight">2018-01-21</div>
			</div>
			<!--content-->
			<div class="journal_li_content">
				商业银行向企业单位以及个人贷出各类放款，按照规定利率收取的利息及办理贴现业务的贴现利息收入
			</div>
			<!--完成度-->
			<div class="journal_li_degree clearfloat">
				<div class="journal_li_hint finish floatRight">已完成</div>
			</div>
		</li>
		<li class="journal_li_box">
			<!---->
			<div class="journal_li_title clearfloat">
				<div class="journal_li_type floatLeft">租赁收入</div>
				<div class="journal_li_time floatRight">2018-01-21</div>
			</div>
			<!--content-->
			<div class="journal_li_content">
				商业银行向企业单位以及个人贷出各类放款，按照规定利率收取的利息及办理贴现业务的贴现利息收入
			</div>
			<!--完成度-->
			<div class="journal_li_degree clearfloat">
				<div class="journal_li_hint finish floatRight">已完成</div>
			</div>
		</li>
	</ul>
		
</body>

    <!--<script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>-->
    <script type="text/javascript" src="../lib/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../assets/js/public.js" ></script>
	<script type="text/javascript" src="../assets/js/journal.js"></script>

</html>
