<!--我的-->
<!--<link rel="stylesheet" type="text/css" href="assets/css/me.css"/>-->
<!---->
<div class="me_box">
	<!--头像-->
	<div class="me_head_box linear">
		<!--头像-->
		<div class="me_portrait">
			<img src="assets/images/me/h6.png"/>
		</div>
		<!--名字-->
		<div class="me_name">安琪</div>
	</div>
	<!--列表-->
	<ul class="me_list_box">
		<a class="me_li_box clearfloat">
			<!--icon-->
			<div class="me_li_icon floatLeft">
				<img src="assets/images/me/me3.png" alt="" />
			</div>
			<!--list_name-->
			<div class="me_list_name floatLeft">我的债行</div>
			<!--箭头-->
			<div class="iconfont icon-jiantou floatRight"></div>	
		</a>
		<a class="me_li_box clearfloat" href="views/account.html">
			<!--icon-->
			<div class="me_li_icon floatLeft">
				<img src="assets/images/me/me1.png" alt="" />
			</div>
			<!--list_name-->
			<div class="me_list_name floatLeft">账户与安全</div>
			<!--箭头-->
			<div class="iconfont icon-jiantou floatRight"></div>	
		</a>
		<a class="me_li_box clearfloat">
			<!--icon-->
			<div class="me_li_icon floatLeft">
				<img src="assets/images/me/me2.png" alt="" />
			</div>
			<!--list_name-->
			<div class="me_list_name floatLeft">安全设定</div>
			<!--箭头-->
			<div class="iconfont icon-jiantou floatRight"></div>	
		</a>
	</ul>
</div>
