<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>账户与安全</title>
    <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/mebind.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar mui-bar-nav linear">
		<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
		<h1 class="mui-title">绑定QQ号</h1>
	</header>
	<div class="mebind_box">
		 <div class="mebind_img">
		 	<img src="../assets/images/me/QQ1.png" class="qq"/>
		 	<img src="../assets/images/me/weixing.png" class="weixin"/>
		 	<img src="../assets/images/me/phone1.png" class="phone"/>
		 	<img src="../assets/images/me/wewibo.png" class="weibo"/>
		 </div>
		 <!--绑定的QQ号-->
		 <div class="mebind_num qq_num">
		 	<span>绑定的QQ号:</span><span>145845212</span>
		 </div>
		 <div class="mebind_num phone_num">
		 	<span>绑定的手机号:</span><span>18177558866</span>
		 </div>
		 <!--更换btn-->
		 <div class="mebind_change_btn qq_btn">更换QQ号</div>
		 <div class="mebind_change_btn phone_btn">更换手机号</div>
		 <!--解除绑定-->
		 <div class="mebind_relieve_btn">解除绑定</div>
	</div>

</body>

    <script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/public.js" ></script>
	<script type="text/javascript" src="../assets/js/mebind.js"></script>
</html>

