<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>我的客户</title>
    <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/my-client.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar mui-bar-nav linear ">
		<div class="client_header">
			<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
			<h1 class="mui-title">我的客户</h1>
		</div>
		<div class="client_bar_box linear">
			<div class="client_bar_list clearfloat">
				<div class="client_left_bar tab_btn floatLeft">
					我负责的
				</div>
				<div class="client_right_bar tab_btn floatRight">
					共享给我的
				</div>
				<div class="client_bar_bottom"></div>
			</div>
		</div>
	</header>
	<!--我的列表-->
    <ul class="client_ul_box my_client_box clearfloat">
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h4.png"/>
    		</div>
    		<div class="client_li_name">赵女士</div>
    		<div class="client_li_type">债权人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/me/h6.png"/>
    		</div>
    		<div class="client_li_name">李先生</div>
    		<div class="client_li_type">债权人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h1.png"/>
    		</div>
    		<div class="client_li_name">王女士</div>
    		<div class="client_li_type">债事人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h2.png"/>
    		</div>
    		<div class="client_li_name">李女士</div>
    		<div class="client_li_type">债权人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h3.png"/>
    		</div>
    		<div class="client_li_name">刘女士</div>
    		<div class="client_li_type">债务人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    </ul>
    
    
    <!--共享给我的列表-->
    <ul class="client_ul_box share_client_box clearfloat">
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h3.png"/>
    		</div>
    		<div class="client_li_name">赵女士</div>
    		<div class="client_li_type">债权人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h4.png"/>
    		</div>
    		<div class="client_li_name">王女士</div>
    		<div class="client_li_type">债事人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h1.png"/>
    		</div>
    		<div class="client_li_name">李女士</div>
    		<div class="client_li_type">债权人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    	<li class="client_li_box floatLeft">
    		<div class="client_li_img">
    			<img src="../assets/images/book/h2.png"/>
    		</div>
    		<div class="client_li_name">刘女士</div>
    		<div class="client_li_type">债务人</div>
    		<!--查看-->
    		<div class="client_li_look">
    			<div class="client_li_look_btn">查看</div>
    		</div>
    	</li>
    </ul>
    
	
</body>

    <!--<script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>-->
     <script type="text/javascript" src="../lib/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="../assets/js/public.js" ></script>
	<script type="text/javascript" src="../assets/js/my-client.js"></script>
	
</html>
