<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>公告</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="../lib/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/notice.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar mui-bar-nav linear">
		<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
		<h1 class="mui-title">公告</h1>
	</header>
	<div class="notice_box">
		 <a class="notice_list clearfloat" href="../views/notice-particulars.html">
		 	 <div class="notice_list_name iconfont icon-icon_notice floatLeft">
		 	 	<!--提示-->
				<div class="hint"></div>
		 	 </div>
		 	 <div class="notice_list_content floatLeft">
		 	 	 国都证券股份有限公司2018年公国都证券股份有限公司2018 年公
		 	 </div>
		 	 <div class="notice_list_time floatRight">14:01</div>
		 </a>
		 <a class="notice_list clearfloat" href="../views/notice-particulars.html">
		 	 <div class="notice_list_name iconfont icon-icon_notice floatLeft">
		 	 	<!--提示-->
				<div class="hint"></div>
		 	 </div>
		 	 <div class="notice_list_content floatLeft">
		 	 	 中信重工机械股份有限公司关于中信重工机械股份有限公司关于
		 	 </div>
		 	 <div class="notice_list_time floatRight">13:12</div>
		 </a>
		 <a class="notice_list clearfloat" href="../views/notice-particulars.html">
		 	 <div class="notice_list_name iconfont icon-icon_notice floatLeft">
		 	 	<!--提示-->
				<div class="hint"></div>
		 	 </div>
		 	 <div class="notice_list_content floatLeft">
		 	 	 国都证券股份有限公司2018年公国都证券股份有限公司2018 年公
		 	 </div>
		 	 <div class="notice_list_time floatRight">12:56</div>
		 </a>
		 <a class="notice_list clearfloat" href="../views/notice-particulars.html">
		 	 <div class="notice_list_name iconfont icon-icon_notice floatLeft">
		 	 	<!--提示-->
				<div class="hint"></div>
		 	 </div>
		 	 <div class="notice_list_content floatLeft">
		 	 	 国都证券股份有限公司2018年公国都证券股份有限公司2018 年公
		 	 </div>
		 	 <div class="notice_list_time floatRight">12:40</div>
		 </a>
	</div>
</body>

    <script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>
	<script type="text/javascript" src="../assets/js/public.js"></script>
	<script type="text/javascript" src="../assets/js/notice.js" ></script>
</html>
