<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>公告详情</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" href="../assets/css/notice-particulars.css" />
    <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
    <div class="Go_box">
    	<!--头部-->
		<header class="mui-bar mui-bar-nav linear">
			<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
			<h1 class="mui-title">详情</h1>
		</header>
			<div class="person_box">
				<div class="cont_person">
					<div class="title">浙江银轮机械股份有限公司2012年公司债券2018年兑付兑息暨摘牌</div>
					<p>2018-1-12</p>
					 <ul class="list_cont">
					 	<li><img src="../assets/images/noticeImg.png" alt="" width="100%"/></li>
					    <li>由浙江银轮机械股份有限公司在2013年1月29日发行的浙江银轮机械股份有限公司2012年公司债券将于2018年1月29日支付2017年1月29日到2018年1月28日期间的利息，并兑付本金。</li>
					    <li>
					    	<p>债权兑付登记日：2018年1月26日</p>
					    	<p>债券到期日：2018年1月29日</p>
					    	<p>债券摘牌日：2018年1月25日</p>
					    </li>
					    <li>
					    	<p>一、本次债券的基本情况</p>
					    	<p>1、债券名称：浙江银轮机械股份有限公司2012年公司债券</p>
					    	<p>2、债券简称及代码：12银轮债(112150)</p>
					    	<p>3、发行人：浙江银轮机械股份有限公司</p>
					    	<p>4、发行规模：5亿元</p>
					    	<p>5、债券期限：本期债券为5年期，附第3年末发行人上调票面利率选择权和投资者回售选择权。</p>
					    	<p>6、债券利率：本期债券为5年期固定利率债券，附第3年末发行人上调票面利率选择权和投资者回售选择权。在本期债券存续期的第3年末，发行人选择不调整票面利率，在本期债券存续期的后2年，票面利率仍为5.89%。本期债券采用单利按年计息，不计复利，逾期不另计利息。</p>
					    </li>
					 </ul>
				</div>
            </div>
    </div>
	</body>
	
	<script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/public.js" ></script>
	<script type="text/javascript" src="../assets/js/notice-particulars.js" ></script>
</html>
