<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="msapplication-tap-highlight" content="no">	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>个人主页</title>
    <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/personal-page.css"/>
</head>
<body>
	<!--头部-->
	<header class="mui-bar mui-bar-nav linear">
		<a class="mui-action-back mui-pull-left iconfont icon-fanhui"></a>
		<h1 class="mui-title">个人主页</h1>
	</header>
	<!--个人主页-->
    <div class="personal_box">
	<!--头像-->
	<div class="personal_head_box linear">
		<!--头像-->
		<div class="personal_portrait">
			<img src="../assets/images/me/h6.png"/>
		</div>
		<!--名字-->
		<div class="personal_name">安琪</div>
	</div>
	<!--电话-->
	<div class="personal_li_box p_phone_title">
		<!--电话-->
		<div class="personal_phone">
			<span class="iconfont icon-msnui-telephone"></span>
			<span class="P_content">15841256541</span>
		</div>
		<!--经办个数-->
		<div class="handle_num">
			<span class="iconfont icon-anjian"></span>
			<span class="H_content">3个经办</span>
		</div>
	</div>
		<!--列表-->
	<div class="personal_bei_An">
		<div class="bei_An_title">备案</div>
		<div class="personal_bei_An_list">
			<div class="personal_bei_An_list_content">
				<span class="_name">安琪</span>
				<span class="_genre">油卡<span>(</span><span>30%</span><span>)</span></span>
			</div>
			<div class="personal_bei_An_list_content">
				<span class="_time">2018-02-12</span>
				<span class="_state">待解</span>
			</div>
		</div>
		<div class="personal_bei_An_list">
			<div class="personal_bei_An_list_content">
				<span class="_name">李思</span>
				<span class="_genre">油卡<span>(</span><span>100%</span><span>)</span></span>
			</div>
			<div class="personal_bei_An_list_content">
				<span class="_time">2018-02-12</span>
				<span class="_state">已解</span>
			</div>
		</div>
		<div class="personal_bei_An_list">
			<div class="personal_bei_An_list_content">
				<span class="_name">安琪</span>
				<span class="_genre">油卡<span>(</span><span>30%</span><span>)</span></span>
			</div>
			<div class="personal_bei_An_list_content">
				<span class="_time">2018-02-12</span>
				<span class="_state">待解</span>
			</div>
		</div>
		<div class="personal_bei_An_list">
			<div class="personal_bei_An_list_content">
				<span class="_name">李思</span>
				<span class="_genre">油卡<span>(</span><span>100%</span><span>)</span></span>
			</div>
			<div class="personal_bei_An_list_content">
				<span class="_time">2018-02-12</span>
				<span class="_state">已解</span>
			</div>
		</div>
		<div class="personal_bei_An_list">
			<div class="personal_bei_An_list_content">
				<span class="_name">安琪</span>
				<span class="_genre">油卡<span>(</span><span>30%</span><span>)</span></span>
			</div>
			<div class="personal_bei_An_list_content">
				<span class="_time">2018-02-12</span>
				<span class="_state">待解</span>
			</div>
		</div>
		<div class="personal_bei_An_list">
			<div class="personal_bei_An_list_content">
				<span class="_name">李思</span>
				<span class="_genre">油卡<span>(</span><span>100%</span><span>)</span></span>
			</div>
			<div class="personal_bei_An_list_content">
				<span class="_time">2018-02-12</span>
				<span class="_state">已解</span>
			</div>
		</div>
	</div>
</div>
	
</body>

    <script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>
	<script type="text/javascript" src="../assets/js/personal-page.js"></script>
	<script type="text/javascript" src="../assets/js/public.js" ></script>
</html>
