<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="msapplication-tap-highlight" content="no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<title>工作统计</title>
		<script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../assets/fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/index.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/statistics.css" />
	</head>

	<body class=" linear">
		<!--头部-->
		<header class="mui-bar mui-bar-nav linear">
			<a class="mui-pull-left mui-action-back iconfont icon-fanhui" href="javascript:;window.history.back(-1);"></a>
			<h1 class="mui-title">工作统计</h1>
		</header>
		<div class="content-box">
			<ul class="list-box">
				<li class="clearfix">
					<a href="javascript:;" class="clearfix" style="display: inline-block">
						<div class="floatLeft clearfix">
							<div class="service">客户</div>
							<div class="reception-box clearfix">
								<span class="floatLeft">6</span><span class="floatRight">今日接待</span>
							</div>
							<div class="aggregate clearfix">
								<span class="floatLeft" style="border-bottom:2px solid #c63881; ">140</span><span></span><span class="floatRight">总计</span>
							</div>
						</div>
						<div class="floatRight aggre"><img src="../assets/images/statistics/tongji.png" alt=""></div>
					</a>
				</li>
				<li class="clearfix">
					<a href="javascript:;" class="clearfix" style="display: inline-block">
						<div class="floatLeft clearfix">
							<div class="service">商业收入金额</div>
							<div class="reception-box clearfix">
								<span class="floatLeft">12<span>万元</span></span><span class="floatRight">今日收入</span>
							</div>
							<div class="aggregate clearfix">
								<span class="floatLeft" style="border-bottom:2px solid #604ae8; ">23<span>万</span></span><span>元</span><span class="floatRight">总计</span>
							</div>
						</div>
						<div class="floatRight aggre"><img src="../assets/images/statistics/tongji2.png" alt=""></div>
					</a>
				</li>
				<li class="clearfix">
					<a href="javascript:;" class="clearfix" style="display: inline-block">
						<div class="floatLeft clearfix">
							<div class="service">解债率</div>
							<div class="reception-box clearfix">
								<span class="floatLeft">40<span>%</span></span><span class="floatRight">今日解债</span>
							</div>
							<div class="aggregate clearfix">
								<span class="floatLeft" style="border-bottom:2px solid #42c638; ">80<span>%</span></span><span></span><span class="floatRight">总计</span>
							</div>
						</div>
						<div class="floatRight aggre"><img src="../assets/images/statistics/tongji3.png" alt=""></div>
					</a>
				</li>
				<li class="clearfix">
					<a href="javascript:;" class="clearfix" style="display: inline-block">
						<div class="floatLeft clearfix">
							<div class="service">借债金额/债务金额</div>
							<div class="reception-box clearfix">
								<span class="floatLeft">2<span>万元</span></span><span class="floatRight">今日解债</span>
							</div>
							<div class="aggregate clearfix">
								<span class="floatLeft" style="border-bottom:2px solid #e8ae4a; ">10<span>万</span></span><span>元</span><span class="floatRight">总计</span>
							</div>
						</div>
						<div class="floatRight aggre"><img src="../assets/images/statistics/tongji4.png" alt=""></div>

					</a>
				</li>
				<li class="clearfix">
					<a href="javascript:;" class="clearfix" style="display: inline-block">
						<div class="floatLeft clearfix">
							<div class="service">登录</div>
							<div class="reception-box clearfix">
								<span class="floatLeft">5<span></span></span><span class="floatRight">今日登录</span>
							</div>
							<div class="aggregate clearfix">
								<span class="floatLeft" style="border-bottom:2px solid #c66338; ">30&nbsp;&nbsp;&nbsp;<span></span></span><span></span><span class="floatRight">总计</span>
							</div>
						</div>
						<div class="floatRight aggre"><img src="../assets/images/statistics/tongji5.png" alt=""></div>

					</a>
				</li>
				<li class="clearfix">
					<a href="javascript:;" class="clearfix" style="display: inline-block">
						<div class="floatLeft clearfix">
							<div class="service">客户互动</div>
							<div class="reception-box clearfix">
								<span class="floatLeft">4<span></span></span><span class="floatRight">今日互动</span>
							</div>
							<div class="aggregate clearfix">
								<span class="floatLeft" style="border-bottom:2px solid #4abae8; ">18&nbsp;&nbsp;&nbsp;<span></span></span><span></span><span class="floatRight">总计</span>
							</div>
						</div>
						<div class="floatRight aggre"><img src="../assets/images/statistics/tongji6.png" alt=""></div>

					</a>
				</li>
			</ul>
		</div>
	</body>

	<script type="text/javascript" src="../lib/zepto-1.1.4.min.js"></script>
	<script type="text/javascript" src="../assets/js/public.js"></script>
	<script type="text/javascript" src="../assets/js/statistics.js"></script>

</html>