/**
 * 公告
 * notice.css
 * 
 * **/

/*返回*/
.mui-bar-nav.mui-bar .iconfont{
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 1.25rem;
    padding-left: 2.25rem;
    color:#fff;
}



.notice_box{
	width: 100%;
	height: auto;
	margin-top: .8rem;
}

.notice_box .notice_list{
	width: 100%;
	height:5rem;
	border-bottom:1px solid #f2f2f2;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	background: #fff;
	box-sizing: border-box;
	display: block;
}
.notice_box .notice_list .notice_list_name{
	width:3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	/*overflow: hidden;*/
    margin-top:.7rem;
    background-color: #5677fc;
    color: #fff;
    text-align: center;
    line-height: 3.6rem;
    font-size: 2rem;
}
.notice_box .notice_list .notice_list_name img{
	width:100%;
	height:100%;
	display: block;
}
.notice_box .notice_list .notice_list_time,
.notice_box .notice_list .notice_list_content{
	height:100%;
	color:#787777;
	font-size:1.3rem;
	line-height: 4.5rem;
}

.notice_box .notice_list .notice_list_content{
	width: 60%;
	color: #333333;
	font-size: 1.4rem;
	margin-left: 1.5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.notice_box .notice_list .notice_list_name{
	font-weight: 600;
	position: relative;
}
/*提示*/
.notice_box .notice_list .notice_list_name .hint{
	padding: 4px;
	border-radius: 50%;
	background: #e02f2f;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 99;
	margin-right: -4px;
	margin-top: -4px;
}

.notice_box .notice_list .notice_list_time{
	display: block;
	font-size:1.3rem;
	color: #666666;
}


